body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  margin: 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
}

#restart {
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}